@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-family: "Space Mono", monospace;
}

.calculator{
    width: 900px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.input-section, .results-section{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.input-section{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    padding: 20px;
}

.results-section{
    background-color: hsl(183, 100%, 15%);
}

.bill-wrapper, .tips-wrapper, .people-count-wrapper{
    width: 100%;
}

.bill-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bill-wrapper label, .people-count-wrapper label, .tips-wrapper p{
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    letter-spacing: 2px;
}

.bill-wrapper input, .people-input input{
    height: 40px;
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-family: "Space Mono", monospace;
    text-align: right;
    outline-color: hsl(179, 100%, 35%);
    padding-right: 10px;
}

.bill-wrapper input::-webkit-outer-spin-button, .bill-wrapper input::-webkit-inner-spin-button,
.people-input input::-webkit-outer-spin-button, .people-input input::-webkit-inner-spin-button,
.custom-tip::-webkit-outer-spin-button, .custom-tip::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

.bill-wrapper img{
    width: 12px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.tips-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tips{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.single-tip, .custom-tip{
    width: 30%;
    height: 50px;
    padding: 10px 0;
    border-radius: 5px;
}

.single-tip{
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}

.custom-tip{
    border: none;
    /* outline: none; */
    font-size: 24px;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    color: hsl(183, 100%, 15%);
    outline-color: hsl(179, 100%, 35%);
}

.custom-tip::placeholder{
    text-align: center;
    
}

.people-count-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.people-input{
    width: 100%;
    position: relative;
}

.people-input img{
    position: absolute;
    width: 12px;
    /* height: 20px; */
    bottom: 10px;
    left: 10px;
}